@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


:root{
  --green-color1:#05d561;  
  --green-color-dark:rgba(21, 90, 0, 0.911);  
  --black-color: rgba(0, 0, 0, 0.836);
  --Light-color: rgba(87, 85, 85, 0.774);
  --Light2-color:rgba(190, 185, 185, 0.774);
  --shadow-color:rgba(3, 121, 175, 0.904);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/bg2.jpg);
    background-color: #00000093;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:overlay;
    padding: 5rem 10rem 1rem 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
.banner .header{
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 1rem;
}

.banner .header a{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: none;
}

.banner .header a i{
    font-size: 1.5rem;
    font-weight: 800;
}


.banner .banner-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  1rem 1rem;
    color: white;
}

.banner-content .info{
    width: 50%;
    margin: 0 0 0.5rem 0;
    background: #7473730e;
}

.info p{
    font-size: 1rem;
    list-style: 1.3;
}

.info h2{
    font-size: 2.5rem;
    text-transform: capitalize;
    line-height: 1.2;
}

.info .infopara{
    margin: 0.5rem 0 1rem 0;
    font-size: 1rem;
}

.info .btns-wrapper{
    margin: 1rem 0;
}

.info button,.StartBtn2{
    width: 10rem;
    height: 4rem;
    margin: 0.5rem 1.0rem;
    background: var(--green-color1);
    position: relative;
    z-index: 10;
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1.75;
    border-radius: 1.5rem;
    font-weight: 700;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.048);
    transition: color 0.2s, background 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.15s;
}

.info button:hover,
.StartBtn2:hover{
    background:rgba(19, 19, 19, 0.808);
    color: white;
}
.banner-content .formHolder{
    width: 40%;
    height: 100%;
    background: rgba(255, 255, 255, 0.904);
    perspective: 1000;
    border-radius: 3rem;
    color: black;
    align-items: center;
    text-align: center;
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.formHolder .FormHeader{
    width: 100%;
}

.formHolder .FormHeader h2{
    margin: 1rem;
}


.formHolder span{
    background: var(--shadow-color);
    width: 3em;
    height: 3rem;
    margin-bottom: 1rem;
    font-size: 2.0rem;
    border-radius: 50%;
    padding:0.5rem;
    margin-bottom: 5rem;
}


.formHolder form{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin:1rem ;
}

.formHolder form input{
    margin: 1rem 0;
    height: 3rem;
    border-radius: 1rem;
    border: 1px rgba(12, 11, 11, 0.911);
    padding-left: 1.0rem;
    background-color: var(--Light2-color);
    font-size: 1.0rem;
    outline: none;
    border: none;
    color: black;
}

.formHolder form input:hover,
.formHolder form input:active{
    outline: none;
    border: none;
}

#formSubmitBtn{
    background: var(--green-color1);
    text-align: center;
    font: 1rem  700 sans-serif;
    cursor: pointer;
}

.Services{
    width: 100%;
    height: 90vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--Light2-color);
    height: 90vh;
}

.Services h3{
    width: 75%;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
}

.Services .CardsDiv{
    width: 99%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.CardsDiv .card{
    width: 16rem;
    height: 16rem;
    margin: 1rem;
    background: rgba(214, 214, 214, 0.699);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 1s ease-in;
}


.CardsDiv .card span{
    width: 5rem;
    height: 5rem;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin: 1rem ;
    padding: 1rem;
    border: solid;
    border-radius: 50%;
    background-color: var(--shadow-color);
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
}

.CardsDiv .card span.Active{
    background-color: var(--green-color1);
}

.CardsDiv .card h3{
    font-size: 1rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom:0.5rem ;
}

.CardsDiv .card h3.Active{
    color: #05d561;
}

.CardsDiv .card p{
    width: 100%;
    color: var(--Light-color);
    font-size: 1.2rem;
    line-height: 1.3;
}


.CardsDiv .card:hover{
    border: 1px solid grey;
    background-color: #ecececd2;
    transform: translateY(-10px);
}

.business{
    width: 100%;
    align-items: center;
    padding: 5rem 3rem;
    display: flex;
    justify-content: space-around;

}

.business .intro{
    width: 50%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
}

.business .intro h2{
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin: 0.5rem 0;
}

.business .intro p{
    margin: 0.5rem;
    margin-bottom: 1rem;
}

.business section{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
}

section .SectCard{
    padding: 0 1rem;
    width: 17rem;
    height: 6rem;
    margin: 1rem 0 0 0;

}

section .SectCard i{
    height: 100%;
   
}

section.SectCard h3{
    width: 100%;
}

.business .videoholder{
    width: 40%;
    margin: 2rem;
    border-radius: 1rem;
    align-items: center;
    align-content: center;
    height: 100%;
}

.business .videoholder img{
    width: 80%;
    border-radius: 1rem;
    height: 100%;
}
/* 
@property --num {
  syntax: "<integer>";
  initial-value: 100;
  inherits: false;
}

.statistics {
  animation: counter 5s ease-in-out;
  counter-reset: num var(--num);
  font: 800 40px system-ui;
  padding: 2rem;
}
.statistics::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 100;
  }
} */


.statistics{
    width: 100%;
    height: 50vh;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    background-image: url(./assets/bgphoto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Light-color);
    background-blend-mode: overlay;
    padding: 0.5rem;
}

.statistics .statsCard{
    margin: 0 auto;
    height: 90%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;

}

.statsCard span{
    width: 3rem;
    height: 3rem;
    background: rgba(107, 105, 105, 0.5);
    backdrop-filter: overlay;
}

.statsCard span i{
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    color: var(--green-color1);
}

.statsCard p{
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem;
}

.pricing{
    width: 100%;
    background: #dfdfaea4;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing .header{
    width: 80%;
    padding: 1rem;
    color: rgb(68, 68, 68);
    text-align: center;
    margin: 0 auto;
}

.pricing .header h4{
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem;
}

.pricing .header p{
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.pricing .CardsHolder{
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: space-evenly;
}

.CardsHolder .PricingCard{
    width: 18rem;
    margin: auto auto;
    margin: 0 1rem;
    border: solid 3px grey;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding:1.0rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.PricingCard .Cardheader{
    width: 100%;
    margin:1rem ; 
}

.PricingCard .Cardheader span{
    width: 5rem;
    height: 4rem;
    margin: auto;
    font-size: 3rem;
    letter-spacing: 1px;
}

.PriceTag{
    font-weight: 700;
}

.PricingCard button{
    background-color: var(--green-color1);
    padding:1rem;
    width: 90%;
    margin: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    transition: all 1s ease;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.2rem 0rem rgb(68, 68, 68);
}


.PricingCard button:hover{
    box-shadow: none;
}

.PricingCard.professional{
    color: rgba(21, 90, 0, 0.911);
}

.PricingCard ul{
    text-align: center;
    width: 100%;
    text-decoration: none;
    list-style: none;
}

.PricingCard ul li{
    width: 100%;
    margin: 1.0rem 0;
    display: flex;
    position: relative;
    text-align: left;
}


.PricingCard ul li input{
    align-self: flex-end;
    flex: 1 1 0;
    text-align: center;
    width: 2rem;
    height: 1rem;
    margin: auto;
    pointer-events: none;
    position: absolute;
    left: 80%;
}

.Footer{
    width: 100%;
    height: 100vh;
    padding: 5rem 3rem;
    color: white;
    background-image: url(./assets/headphone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color:rgba(207, 207, 207, 0.308);
    background-blend-mode: overlay;
}

.Footer .FinalMsg{
    width: 50%;
    padding: 1rem;
}

.FinalMsg h3{
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 1.5;
}

.FinalMsg p{
    font-size: 1.4rem;
    letter-spacing: 1px;
}
.FooterBtn p{
    color: grey;
}

.Links{
    width: 30%;
    height:6rem;
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.Links span{
    background: transparent;
    width: 5rem;
    height: 5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 1s ease;
    
}

.Links span:hover{
    background: var(--green-color-dark);
    color: black;
    transform: rotateY(360deg);
}


body .Topscroll{
    position: fixed;
    z-index: 10;
    width: 5rem;
    height: 5rem;
    color: red;
    left: 95%;
    bottom: 5%;
    cursor: pointer;
}


.Topscroll i{
    font-size: 2rem;
    color:var(--green-color1);
    width: 100%;
}

/* ////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////// */
/* media queries */

@media(max-width:821px){
    .banner{
        padding: 8.0rem 2.0rem 1rem 2.5rem;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }    
    .banner .banner-content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding:  0.5rem 0.5rem;
        color: white;
    
    }

    
    .banner-content .info{
        width: 100%;
        display: inline-block;
        margin: 2rem 0;
        background: #7473730e;
    }
    
    .info p{
        font-size: 1.75rem;
        line-height: 1.5;
    }
    
    .info h2{
        font-size: 2.5rem;
        line-height: 1;
        margin: 1rem 0;

    }
    
    .info .infopara{
        margin: 0.5rem 0 1rem ;
        font-size: 1rem;
    }

    .banner-content .formHolder{
        width: 100%;
        display: inline-block;
        height: fit-content;
        background: rgba(255, 255, 255, 0.904);
        perspective: 1000;
        border-radius: 2rem;
        color: black;
        align-items: center;
        text-align: center;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    
    }
    
    .formHolder .FormHeader{
        width: 100%;
    }
    
    .formHolder .FormHeader h2{
        margin: 1rem;
    }
    
    
    .formHolder span{
        background: var(--shadow-color);
        width: 3em;
        height: 3rem;
        margin-bottom: 1rem;
        font-size: 2.0rem;
        border-radius: 50%;
        padding:0.5rem;
        margin-bottom: 5rem;
    }
    
    
    .formHolder form{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin:1rem ;
    }
    
    .formHolder form input{
        margin: 1rem;
        height: 3rem;
        border-radius: 1rem;
        border: 1px rgba(12, 11, 11, 0.911);
        padding-left: 1.0rem;
        background-color: var(--Light2-color);
        font-size: 1.2rem;
        outline: none;
        border: none;
        color: black;
    }
    
    .formHolder form input:hover,
    .formHolder form input:active{
        outline: none;
        border: none;
    }
    
    #formSubmitBtn{
        background: var(--green-color1);
        text-align: center;
        font: 1rem  700 sans-serif;
        cursor: pointer;
    }
    
    .Services{
        width: 100%;
        height: fit-content;
        padding: 1rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--Light2-color);
        /* height: 90vh; */
    }
    
    .Services h3{
        width: 90%;
        font-size: 1.5rem;
        line-height: 1.5;
        text-align: center;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    
    .Services .CardsDiv{
        width: 99%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .CardsDiv .card{
        margin: 0.5rem;
        padding: 0.75rem;
    }
    .business{
        width: 100%;
        align-items: center;
        padding:auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    }   
    
    .business .intro{
        width: 100%;
        margin: 2rem;
        display: flex;
        flex-direction: column;
        padding: 1rem 0.5rem;
    }
    
    .business .intro h2{
        font-weight: 600;
        font-size: 1.75rem;
        letter-spacing: 1px;
        margin: 0.5rem 0;
    }
    
    .business .intro p{
        margin: 0.5rem;
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }
    
    .business section{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 2rem 10px; 
    }
    
    section .SectCard{
        padding: 0 1rem;
        width: 17rem;
        height: 6rem;
        margin: 1rem 0 0 0;
    
    }
    
    section .SectCard i{
        height: 100%;
       
    }
    
    section.SectCard h3{
        width: 100%;
    }
    
    .business .videoholder{
        display: none;
    }
    
    .statistics{
        width: 100%;
        height: 50vh;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
        background-image: url(./assets/bgphoto.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--Light-color);
        background-blend-mode: overlay;
        padding: 0.5rem;
    }
    
    .statistics .statsCard{
        margin: 0 auto;
        height: 90%;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #fff;
    
    }
    
    .statsCard span{
        width: 3rem;
        height: 3rem;
        background: rgba(107, 105, 105, 0.5);
        backdrop-filter: overlay;
    }
    
    .statsCard span i{
        width: 100%;
        height: 100%;
        font-size: 2.0rem;
        color: var(--green-color1);
    }
    
    .statsCard p{
        font-size: 2.0rem;
        font-weight: 700;
        margin: 1rem;
    }
    
    .pricing{
        width: 100%;
        background: #dfdfaea4;
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 0;
    }
    
    .pricing .header{
        width: 90%;
        padding: 1rem;
        color: rgb(68, 68, 68);
        text-align: center;
        margin: 0 auto;
    }
    
    .pricing .header h4{
        font-size: 2rem;
        font-weight: 500;
        margin: 1rem;
    }
    
    .pricing .header p{
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    
    .pricing .CardsHolder{
        display: flex;
        width: 100%;
        padding: 1rem;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .CardsHolder .PricingCard{
        width: 18rem;
        margin: auto auto;
        margin: 1rem;
        border: solid 3px grey;
        border-radius: 5px;
        text-align: center;
        align-items: center;
        padding: 0.5rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    
    .PricingCard .Cardheader{
        width: 100%;
        margin:1rem ; 
    }
    
    .PricingCard .Cardheader span{
        width: 5rem;
        height: 4rem;
        margin: auto;
        font-size: 3rem;
        letter-spacing: 1px;
    }
    
    .PriceTag{
        font-weight: 700;
    }
    
    .PricingCard button{
        background-color: var(--green-color1);
        padding:1rem;
        width: 80%;
        margin: 1rem;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        border-radius: 10px;
        transition: all 1s ease;
        cursor: pointer;
        box-shadow: 0 0.25rem 0.2rem 0rem rgb(68, 68, 68);
    }
    
    
    .PricingCard button:hover{
        box-shadow: none;
    }
    
    .PricingCard.professional{
        color: rgba(21, 90, 0, 0.911);
    }
    
    .PricingCard ul{
        text-align: center;
        width: 100%;
        text-decoration: none;
        list-style: none;
    }
    
    .PricingCard ul li{
        width: 100%;
        margin: 1.0rem 0;
        display: flex;
        position: relative;
        text-align: left;
        font-size: 1.2rem;
    }
    
    
    .PricingCard ul li input{
        align-self: flex-end;
        flex: 1 1 0;
        text-align: center;
        width: 2rem;
        height: 1rem;
        margin: auto;
        pointer-events: none;
        position: absolute;
        left: 80%;
    }
    
    .Footer{
        width: 100%;
        height: 100vh;
        padding: 5rem 3rem;
        color: white;
        background-image: url(./assets/headphone.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        background-color:rgba(207, 207, 207, 0.308);
        background-blend-mode: overlay;
    }
    
    .Footer .FinalMsg{
        width:80%;
        padding: 1rem;
    }
    
    .FinalMsg h3{
        font-weight: 500;
        font-size: 2rem;
        letter-spacing: 1px;
        line-height: 1.5;
    }
    
    .FinalMsg p{
        font-size: 1.4rem;
        letter-spacing: 1px;
    }
    .FooterBtn p{
        color: grey;
    }
    
    .Links{
        width: 30%;
        height:6rem;
        text-align: center;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }
    
    .Links span{
        background: transparent;
        width: 5rem;
        height: 5rem;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        font-size: 1.5rem;
        transition: all 1s ease;
        
    }
    
    .Links span:hover{
        background: var(--green-color-dark);
        color: black;
        transform: rotateY(360deg);
    }
    
    
    body .Topscroll{
        position: fixed;
        z-index: 10;
        width: 5rem;
        height: 5rem;
        color: red;
        left: 95%;
        bottom: 5%;
        cursor: pointer;
    }
    
}
    
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* Phones */
@media(max-width:600px){
    body{
        width: 100vw;
    }
    .banner{
        padding: 5.0rem 1.0rem 0.5rem 1.0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
        width: 100%;
    }    
    .banner .banner-content{
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding:  0.5rem 0.5rem;
        color: white;
    }
    
    .banner-content .info{
        width: 100%;
        height: fit-content;
        display: inline-block;
        margin: 0 0 0.5rem 0;
        background: #7473730e;
    }
    
    .info p{
        font-size: 1.5rem;
        line-height: 1.5;
    }
    
    .info h2{
        font-size: 2.0rem;
        line-height: 1.5;

    }
    
    .info .infopara{
        margin: 0.5rem 0 1rem 0;
        font-size: 1rem;
    }

    .banner-content .formHolder{
        width:99vw;
        display: inline-block;
        height: fit-content;
        background: rgba(255, 255, 255, 0.904);
        perspective: 1000;
        border-radius: 2rem;
        color: black;
        align-items: center;
        text-align: center;
        padding: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    
    }
    
    .formHolder .FormHeader{
        width: 100%;
    }
    
    .formHolder .FormHeader h2{
        margin: 1rem;
    }
    
    
    .formHolder span{
        background: var(--shadow-color);
        width: 3rem;
        height: 3rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        border-radius: 50%;
        padding:0.25rem;
        margin-bottom: 5rem;
    }
    
    
    .formHolder form{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin:1rem auto;
    }
    
    .formHolder form input{
        margin: 0.5rem 0;
        height: 3rem;
        border-radius: 1rem;
        border: 1px rgba(12, 11, 11, 0.911);
        padding-left: 0.25rem;
        background-color: var(--Light2-color);
        font-size: 1.0rem;
        outline: none;
        border: none;
        color: black;
    }
    

    .Services{
        width: 100%;
        height: fit-content;
        padding: 1rem 0.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--Light2-color);
        height: fit-content;
    }
    
    .Services h3{
        width: 99%;
        font-size: 1.25rem;
        line-height: 1.0;
        text-align: center;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }
    
    .Services .CardsDiv{
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .CardsDiv .card{
        width: 90vw;
        height: fit-content;
        margin: 1rem 0.25rem;
        background: rgba(214, 214, 214, 0.699);
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 1.25rem;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 1rem;
        transition: all 1s ease-in;
    }
    
    
    .CardsDiv .card span{
        width: 5rem;
        height: 5rem;
        align-items: center;
        align-self: center;
        align-content: center;
        text-align: center;
        margin: 1rem ;
        padding: 1rem;
        border-radius: 50%;
        background-color: var(--shadow-color);
        font-size: 2rem;
        transition: all 0.5s ease-in-out;
    }
    
    .CardsDiv .card span.Active{
        background-color: var(--green-color1);
    }
    
    .CardsDiv .card h3{
        font-size: 1rem;
        width: 100%;
        margin-top: 2rem;
        margin-bottom:0.5rem ;
    }
    
    .CardsDiv .card h3.Active{
        color: #05d561;
    }
    
    .CardsDiv .card p{
        width: 100%;
        color: var(--Light-color);
        font-size: 1.2rem;
        line-height: 1.3;
    }
    
    
    .CardsDiv .card:hover{
        border: 1px solid grey;
        background-color: #ecececd2;
        transform: translateY(-10px);
    }
    
    .business{
        width: 100%;
        align-items: center;
        padding: 1.5rem 1.0rem;
        display: flex;
        justify-content: space-around;
    }
    
    .business .intro{
        width: 100%;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0.5rem;
    }
    
    .business .intro h2{
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin: 0.5rem 0;
    }
    
    .business .intro p{
        margin: 0.25rem;
        margin-bottom: 1rem;
    }
    
    .business section{
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 1rem; 
    }
    
    section .SectCard{
        padding: 0 0.5rem;
        width: 17rem;
        height: 6rem;
        margin: 1rem 0 0 0;
    
    }
    
    section .SectCard i{
        height: 100%;
       
    }
    
    section.SectCard h3{
        width: 100%;
    }
    
    .business .videoholder{
        width: 40%;
        margin: 2rem;
        border-radius: 1rem;
        align-items: center;
        align-content: center;
        height: 100%;
        display: none;
    }
    
    .business .videoholder img{
        width: 80%;
        border-radius: 1rem;
        height: 100%;
    }
    
    .statistics{
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: space-between;
        align-items: center;
    }
    
    .statistics .statsCard{
        margin: 1rem auto;
        padding: 0.5rem 0;
        width:99%;
        border-bottom: solid 1px grey;
    }
    
    .statsCard span{
        width: 3rem;
        height: 3rem;
        background: rgba(107, 105, 105, 0.5);
        backdrop-filter: overlay;
    }
    
    .statsCard span i{
        width: 100%;
        height: 100%;
        font-size: 2.0rem;
        color: var(--green-color1);
    }
    
    .statsCard p{
        font-size: 2rem;
        margin: 0.5rem;
    }
    
    .pricing{
        width: 100%;
        background: #dfdfaea4;
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }
    
    .pricing .header{
        width: 99%;
        padding: 0rem;
        color: rgb(68, 68, 68);
        text-align: center;
        margin: 0 auto;
    }
    
    .pricing .header h4{
        font-size: 1.25rem;
        font-weight: 500;
        margin: 1rem;
    }
    
    .pricing .header p{
        font-size: 1.0rem;
        letter-spacing: 1px;
    }
    
    .pricing .CardsHolder{
        display: flex;
        width: 100%;
        padding: 1rem;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .CardsHolder .PricingCard{
        width: 100%;
        margin: 1.0rem auto;
        border: solid 3px grey;
        border-radius: 5px;
        text-align: center;
        align-items: center;
        padding:0.25rem;
        height: fit-content;
        display: flex;
    }
    
    .PricingCard .Cardheader{
        width: 100%;
        margin:0.5rem ; 
    }
    
    .PricingCard .Cardheader span{
        width: 5rem;
        height: 4rem;
        margin: auto;
        font-size: 3rem;
        letter-spacing: 1px;
    }
    
    .PriceTag{
        font-weight: 700;
    }
    
    .PricingCard button{
        background-color: var(--green-color1);
        padding:1rem;
        width: 90%;
        margin: 1rem;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        border-radius: 10px;
        transition: all 1s ease;
        cursor: pointer;
        box-shadow: 0 0.25rem 0.2rem 0rem rgb(68, 68, 68);
    }
    
    
    .PricingCard button:hover{
        box-shadow: none;
    }
    
    .PricingCard.professional{
        color: rgba(21, 90, 0, 0.911);
    }
    
    .PricingCard ul{
        text-align: center;
        width: 100%;
        text-decoration: none;
        list-style: none;
    }
    
    .PricingCard ul li{
        width: 100%;
        margin: 1.0rem 0;
        display: flex;
        position: relative;
        text-align: left;
    }
    
    
    .PricingCard ul li input{
        align-self: flex-end;
        flex: 1 1 0;
        text-align: center;
        width: 2rem;
        height: 1rem;
        margin: auto;
        pointer-events: none;
        position: absolute;
        left: 80%;
    }
    
    .Footer{
        width: 100%;
        height: fit-content;
        padding: 1.0rem 0.5rem;
        color: white;
        background-image: url(./assets/headphone.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        background-color:rgba(207, 207, 207, 0.308);
        background-blend-mode: overlay;
    }
    
    .Footer .FinalMsg{
        width: 90%;
        padding: 0.5rem;
    }
    
    .FinalMsg h3{
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: 1px;
        line-height: 1.2;
    }
    
    .FinalMsg p{
        font-size: 1.0rem;
        letter-spacing: 1px;
    }
    .FooterBtn p{
        color: grey;
    }
    
    .Links{
        width: fit-content;
        height:6rem;
        text-align: center;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0.5rem auto;
    }
    
    .Links span{
        background: transparent;
        width: 5rem;
        height: 5rem;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        font-size: 1.5rem;
        transition: all 1s ease;
        
    }
    
    .Links span:hover{
        background: var(--green-color-dark);
        color: black;
        transform: rotateY(360deg);
    }
    
    
    body .Topscroll{
        position: fixed;
        z-index: 10;
        width: 5rem;
        height: 5rem;
        color: red;
        left: 85%;
        bottom: 5%;
        cursor: pointer;
    }
}
